.App {
    text-align: center;
    background-color: #121212;
    min-height: 100vh;
    color: white;
}

.App-header {
    padding: 2rem;
}

.App-header h1 {
    font-size: 2.5rem;
    color: #1DB954; /* Vert Spotify */
}

.section-title {
    font-size: 1.8rem;
    margin-top: 2rem;
    color: #E6E6E6;
}

/* Styles pour les playlists en grille */
.playlists-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 20px;
    padding: 2rem;
    justify-content: center;
}

.playlist-card {
    background-color: #1A1A1A;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    text-align: left;
    height: 100%; /* S'assure que toutes les cartes ont la même hauteur */
}

.playlist-card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    background-color: #282828;
}

.playlist-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.playlist-image {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-bottom: 1px solid #333;
}

.playlist-info {
    padding: 15px;
}

.playlist-name {
    font-weight: bold;
    font-size: 1rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
    color: #fff;
}

.playlist-tracks {
    font-size: 0.8rem;
    color: #B3B3B3;
    margin-top: 5px;
}